body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.btn-login {
    background-color: green;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
}

.error {
    color: red;
    margin-left: 300px;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.italicize {
    font-style: italic;
}

.card {
    padding: 5px;
    margin-bottom: 25px;
}

.btn-white {
    background-color: white;
    box-shadow: 2px 2px grey;
}

.btn-delete {
    background-color: red;
    color: white;
    box-shadow: 2px 2px grey;
}

button:hover {
    cursor: pointer;
}